@model IEnumerable<TeamProject.Models.geoLocation>

@{
    ViewBag.Title = "Database";
}


<h2>All items in database</h2>
@using (Html.BeginForm())
{
<table>
    <tr>
       @* <th>
        Check
        </th>
       *@ 
       <th>
            URL
        </th>
        
        <th>
            CountryCode
        </th>
        <th>
            Country
        </th>
        <th>
            Region
        </th>
        <th>
            City
        </th>
        <th>
            PostalCode
        </th>
        
        
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        @*<td>
           <input name="Checkbox" type="checkbox" value="@item.ID " title="CheckedItems"/>
        </td>
        *@
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CountryCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>       
        
        <td>
            
            @Html.ActionLink("Details", "Details", new { id = item.ID })
            
        </td>
    </tr>
}
 </table>
@* <input type="submit" value="Show on map" />*@
}